:root {
    --primaryBlue:  rgb(231, 179, 0);
    --light-grey: rgb(196, 196, 196);
    --dark-grey: rgb(77, 77, 77);
}

* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    background-color: var(--dark-grey);
}

h1,
li,
.topnav a {
    font-weight: 900;
    font-size: 24px;
    color: var(--dark-grey);
    text-decoration: none;
}

h1 {
    background-color: var(--primaryBlue);
    padding-left: 50px;
    font-size: 60px;
    margin: 25px 0px;
    padding-right: 20px;
}

.topnav {
    list-style: none;
}

.topnav li {
    display: inline-block;
    padding: 0px 20px;
}

.topnav li a {
    text-decoration: underline;
    color: var(--primaryBlue);
    transition: all 0.3s ease 0s;
}

.topnav li a:hover {
    color: var(--light-grey);
}

#imageAndSub {
    background-image: url("../assets/yellowbanner.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    padding: 150px;
}

h2 {
    font-weight: 750;
    font-size: 42px;
    color: var(--dark-grey);
    position: absolute;
    right: 5%;
    padding: 7px;
}

body {
    background-color: var(--light-grey);
}

#content {
    padding: 25px 10%;
    display: grid;
    grid-template-rows: 1fr 5fr 0.5fr;
    grid-template-columns: 250px 3fr;
    grid-template-areas:
        "abtMe abtMeContent"
        "projectLinks projectLinkContent"
        "contactMe contactMeContent";
}

#aboutMeTitle {
    grid-area: abtMe;
}

#aboutMeContent {
    grid-area: abtMeContent;
    display: flex;
    align-items: center;
}

#self_image {
    padding-right: 30px;
    height: fit-content;
}

#projectLinksTitle {
    grid-area: projectLinks;
}

#projectLinkContent {
    grid-area: projectLinkContent;
}

#contactMeTitle {
    grid-area: contactMe;
}

#contactMeContent {
    grid-area: contactMeContent;
}

.sectionTitle,
.sectionContent {
    padding: 50px 0px;
}

.sectionTitle {
    border-right: 5px solid var(--dark-grey);
    margin: 10px 30px 10px 0px;
    text-align: right;
    padding: 15px 25px;
}

h3 {
    font-weight: 750;
    font-size: 40px;
    color: var(--dark-grey);   
}

p {
    font-size: 23px;
}

#projectLinkContent {
    padding: 50px 50px;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "project1 project1"
        "project2 project3"
        "project4 project5";
    }

#projectLinkContent > a {
    background-position: center;
    background-size: cover;
    display: flex;
    margin: 10px;
    background-repeat: no-repeat;
    border: 5px solid var(--dark-grey);
}

#project1 {
    grid-area: project1;
    background-image: url("../assets/project1_Horiseon.PNG"); 
}

#project2 {
    grid-area: project2;
    background-image: url("../assets/project2_sguide.jpg");
}

#project3 {
    grid-area: project3;
    background-image: url("../assets/coming_soon.jpg");
}

#project4 {
    grid-area: project4;
    background-image: url("../assets/closed.jpg");
}

#project5 {
    grid-area: project5;
    background-image: url("../assets/coming_soon2.jpg");
}

h4 {
    display: inline-block;
    align-self: flex-end;
    padding: 7px;
    color: var(--dark-grey);
    background-color: var(--primaryBlue);
    margin: 10px;
    font-size: 40px;
}

#contactMeContent, #contactMeContent a{
    color: var(--dark-grey);
    font-size: 25px;
}

footer {
    color: var(--dark-grey);
    background-color: var(--primaryBlue);
    padding: 15px;
    text-align: center;
    font-size: 25px;
}

@media only screen and (max-width: 1000px) {

    #content {
        padding: 25px 10%;
        display: grid;
        grid-template-rows: 1fr 10fr 1fr 10fr 1fr 10fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "abtMe" "abtMeContent" "projectLinks" "projectLinkContent" "contactMe" "contactMeContent";
    }

    .sectionTitle {
        border-right: none;
        border-bottom: 5px solid var(--dark-grey);
        margin: 10px 30px 10px 0px;
        text-align: right;
        padding: 15px 25px;
    }

    #projectLinkContent {
        grid-template-rows: 3fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "project1"
            "project2"
            "project3"
            "project4" 
            "project5";
        }

}

